
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/Books/Index/">
                    <i class="mdi mdi-bookmark menu-icon"></i>
                    <span class="menu-title">Kitap Ekleme</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Student/Index/">
                    <i class="mdi mdi-account menu-icon"></i>
                    <span class="menu-title">Oğrenci Ekleme</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Record/Index/">
                    <i class="mdi mdi-newspaper menu-icon"></i>
                    <span class="menu-title">Ödünç Verme</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/School/Index/">
                    <i class="mdi mdi-school menu-icon"></i>
                    <span class="menu-title">Okul Ekleme</span>
                </a>

            </li>

            <li class="nav-item">
                <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/documentation/documentation.html">
                    <i class="mdi mdi-exit-to-app  menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <!-- main-panel ends -->

